@using System.Text.RegularExpressions;

@inject NavigationManager navManager;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ClothesLine</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="newsession">
                <span class="oi oi-plus" aria-hidden="true"></span> New Session
            </NavLink>
        </li>

        @if (Regex.IsMatch(navManager.Uri, "session/[A-z0-9]+"))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link active" href="@navigateToSelfUri">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Current Session
                </NavLink>
            </li>
        }

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="joinsession">
                <span class="oi oi-people" aria-hidden="true"></span> Join Session
            </NavLink>
        </li>
    </ul>
</div>

@code {

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string navigateToSelfUri => navManager.Uri.EndsWith("/#") ? navManager.Uri : navManager.Uri + "/#";

    protected override void OnInitialized()
    {
        navManager.LocationChanged += (s, e) => StateHasChanged();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
