@page "/"

<h1>The Clothes Line</h1>

<p>Welcome to the clothes line, a one stop shop for all laundry related planning needs.</p>

<p>In order to get started, open a <NavLink href="newsession" Match="NavLinkMatch.All">New Session</NavLink> on the menu,
    or if you have a session code, <NavLink href="joinsession" Match="NavLinkMatch.All">Join Session</NavLink> to join an existing session.
</p>

<p>
    Anyone is welcome to use this site, unless they're Rory. Rory you bastardman! Go away and stop finding bugs!
</p>
