@page "/joinsession"
@page "/joinsession/{Id}"

@inject NavigationManager navManager;

<h1>Join Session</h1>

<p>Enter a join code below to join your session.</p>

<EditForm class="col-md-6" Model="@model" OnValidSubmit="@Join">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>Name <InputText class="form-control" @bind-Value="model.Name" /></p>
    <p>Session ID <InputText class="form-control" @bind-Value="model.SessionId" /></p>
    <div class="btn-group" role="group">
        <button class="btn btn-primary" type="submit" @onclick="() => model.Spectating = false">Join</button>
        <button class="btn btn-outline-primary" type="submit" @onclick="() => model.Spectating = true">Join as Spectator</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public string Id { get => model.SessionId; set => model.SessionId = value; }

    private JoinSessionModel model = new();

    private void Join()
    {
        if (model.Spectating)
        {
            navManager.NavigateTo($"session/{model.SessionId}/{model.Name}/true");
        }
        else
        {
            navManager.NavigateTo($"session/{model.SessionId}/{model.Name}");
        }
    }
}
