@page "/joinsession"
@page "/joinsession/{Id}"

@inject NavigationManager navManager;

<h1>Join Session</h1>

<p>Enter a join code below to join your session.</p>

<EditForm class="col-md-6" Model="@model">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>Name <InputText class="form-control" @bind-Value="model.Name" /></p>
    <p>Session ID <InputText class="form-control" @bind-Value="model.SessionId" /></p>
    <div class="btn-group" role="group">
        <button class="btn btn-primary" type="submit" @onclick="Join">Join</button>
        <button class="btn btn-outline-primary" type="submit" @onclick="Spectate">Join as Spectator</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public string Id { get => model.SessionId; set => model.SessionId = value; }

    private JoinSessionModel model = new();

    private void Join() => navManager.NavigateTo($"session/{model.SessionId}/{model.Name}");

    private void Spectate() => navManager.NavigateTo($"session/{model.SessionId}/{model.Name}/true");
}
