@page "/newsession"
@inject NavigationManager navManager

<h1>Planning Session</h1>

<p>This will be a planning session</p>

<EditForm class="col-md-6" Model="@model" OnValidSubmit="@CreateSession">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>Name <InputText class="form-control" @bind-Value="model.Name" /></p>

    <div class="input-group">
        <div class="input-group-prepend">
            <select class="form-control-lg no-right-radius" @bind="model.EstimationStyleId">
                @foreach (var style in Enum.GetValues<EstimationStyle>())
                {
                    <option value="@((int)style)">@style.GetDescription()</option>
                }
            </select>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Create Session</button>
    </div>
</EditForm>

@code {
    private NewSessionModel model = new();

    private void CreateSession()
    {
        navManager.NavigateTo($"session/{Guid.NewGuid().ToString().Substring(0, 6)}/{model.UrlSafeName}?Style={model.EstimationStyle}");
    }
}
