@page "/session/{Id}/{Name}"
@using System.Text.Json
@using ClothesLine.Hubs
@using Microsoft.AspNetCore.SignalR.Client
@using Methods = ClothesLine.Hubs.SignalRMethods.Session
@inject NavigationManager navManager
@implements IAsyncDisposable

<h1>Planning Session</h1>

<p>This is session @Id</p>

<div class="form-group">
    <label>
        Message:
        <input type="number" @bind="estimate" size="50" />
    </label>
</div>
<button @onclick="SendEstimate" disabled="@(!IsConnected)">Send</button>
<button @onclick="ClearEstimates">Clear Estimates</button>

<ul>
    @foreach (var connection in connections)
    {
        if (estimates.TryGetValue(connection.Key, out var estimate))
        {
            <li>@connection.Value (@estimate)</li>
        }
        else
        {
            <li>@connection.Value</li>
        }
    }
</ul>

@code {
    private HubConnection? hubConnection;
    private int estimate;
    private Dictionary<string, string> connections = new Dictionary<string, string>();
    private Dictionary<string, int> estimates = new Dictionary<string, int>();

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Name { get; set; }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(navManager.ToAbsoluteUri("/sessionhub"))
            .Build();

        SetupHubMethods();

        await hubConnection.StartAsync();
        await hubConnection.SendAsync(Methods.JoinSession, Id, Name);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await hubConnection.SendAsync(Methods.RequestData, Id);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void SetupHubMethods()
    {
        hubConnection.On<string>(Methods.NotifyUpdatedClients, json =>
        {
            var connectedClients = (IEnumerable<ConnectedClient>)JsonSerializer.Deserialize(json, typeof(IEnumerable<ConnectedClient>));

            connections = new Dictionary<string, string>(connectedClients.Select(c => new KeyValuePair<string, string>(c.Id, c.Name)));

            if (!estimates.Any())
            {
                estimates = new Dictionary<string, int>();

                foreach (var client in connectedClients)
                {
                    if (client.Estimate != null)
                    {
                        estimates.Add(client.Id, client.Estimate.Value);
                    }
                }
            }

            StateHasChanged();
        });

        hubConnection.On<string, int>(Methods.ReceiveEstimate, (estimator, estimate) =>
        {
            estimates[estimator] = estimate;
            StateHasChanged();
        });

        hubConnection.On(Methods.ClearEstimates, () =>
        {
            estimates.Clear();
            StateHasChanged();
        });
    }

    private async Task SendEstimate()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync(Methods.SendEstimate, Id, estimate);
        }
    }

    private async Task ClearEstimates()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync(Methods.ClearEstimates, Id);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
